<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Megapod | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap" rel="stylesheet" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/font-awesome.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/elegant-icons.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/magnific-popup.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/owl.carousel.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/slicknav.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")" type="text/css" />

    @* Đảm bảo rằng các thư viện CSS được nạp trước khi nội dung *@
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Page Preloder -->
    <!-- Offcanvas Menu Begin -->
    <div>
        @Html.Partial("~/Views/Temp/getMenu.cshtml")
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header>
        @Html.Partial("~/Views/Temp/getHeader.cshtml")
    </header>
    <!-- Header Section End -->
    <!-- Main Content Begin -->
    <main>
        @RenderBody() <!-- Đây là nơi nội dung của view khác sẽ được render -->
    </main>
    <!-- Main Content End -->
    <!-- Footer Section Begin -->
    <footer>
        @Html.Partial("~/Views/Temp/getFooter.cshtml")
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/mixitup.min.js"></script>
    <script src="~/Content/js/jquery.slicknav.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/main.js"></script>

    <!-- Music Plugin -->
    <script src="~/Content/js/jquery.jplayer.min.js"></script>
    <script src="~/Content/js/jplayerInit.js"></script>

    @Scripts.Render("~/bundles/jquery") <!-- Đảm bảo rằng các script jQuery được nạp -->
    @Scripts.Render("~/bundles/bootstrap") <!-- Nạp các script Bootstrap -->
    @RenderSection("scripts", required: false) <!-- Nơi để thêm các script từ các view cụ thể nếu cần -->
</body>
</html>